<p id="notice"><%= notice %></p>

<p>
  <strong>Message:</strong>
  <%= @chin_wag.message %>
</p>

<p>
  <strong>Text:</strong>
  <%= @chin_wag.text %>
</p>

<%= link_to 'Edit', edit_chin_wag_path(@chin_wag) %> |
<%= link_to 'Back', chin_wags_path %>
